<a href="https://colab.research.google.com/github/mbilal-OU/python_workshop/blob/main/date_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Dates and Times**



%Y= four digit year

%y=  two digit year

%m=two digit month [01,12]

%d= two digit day

%H=Hour(24 hour) 00,23

%I=Hour(12 hour) 01,12

%M= 2 digit Minute

%S=seconds

%w= week day as integer[0(sunday),6]

%W=week number of year(sunday is considered first day of week and days before first sunday of year are week 0)

%U=week number of year(MONDAY is considered first day of week and days before first MONDAY of year are week 0)

%z=UTC time zone offsewt as HHMM

%F=shortcut for %y-%m_%d (2012-4-18)

%D=shortcut for %m/%d/%Y(04/18/12)

In [1]:
from datetime import datetime,date,time

In [3]:
dt=datetime(2011,10,29,20,30,21)

In [4]:
dt.day

29

In [5]:
dt.minute

30

In [7]:
#we can get equivalent time by calling function
dt.date()

datetime.date(2011, 10, 29)

In [8]:
dt.time()

datetime.time(20, 30, 21)

In [10]:
#The strftime formats datetime as string
dt.strftime('%m/%d/%y %H:%M')

'10/29/11 20:30'

In [18]:
#STRINGS CAN BE CONVERTED(PARSED) INTO DATETIME OBJECTS #make sure capital Y
datetime.strptime("20091031",'%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [20]:
#REPLACING TIME DATA
dt.replace(minute=0,second=0)

datetime.datetime(2011, 10, 29, 20, 0)