<a href="https://colab.research.google.com/github/mbilal-OU/python_workshop/blob/main/pandas_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***PANDAS***

A **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is a widely used data structure in data science and machine learning for storing and manipulating data.

A **dataset** is a collection of related data, typically organized in a structured way. It can be thought of as a single unit of information, often presented in a tabular format (like a spreadsheet or a database table), but can also take other forms such as images, text documents, or audio files. Each row in a tabular dataset usually represents an observation, and each column represents a particular variable or attribute of that observation.

In [ ]:
#PANDAS LIBRARY
import pandas as pd

In [ ]:
#importing data from clipboard
df=pd.read_clipboard() #automatically loads data whatever copied in clipboard
df

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error

In [ ]:
#import from excel
#install openpyxl

import pandas as pd
df_excel=pd.read_excel('titanic3.xls')
df_excel

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [ ]:
#import csv file
#rainbow csv extension for colored values

import pandas as pd
df_csv=pd.read_csv('titanic3.csv')
df_csv

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#import tsv file
#keep in mind for tsv we are using pd.read_csv but mention \t

import pandas as pd
df_tsv=pd.read_csv('titanic3.tsv',sep='\t')
df_tsv

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#dummy dataset
#create a dataset from a dictionary for the people ages and names
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40]}
df = pd.DataFrame(data)  #converts dictionary to dataframe
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)  #converts dictionary to dataframe
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

files conversion

In [ ]:
df.to_clipboard()

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit
    https://pyperclip.readthedocs.io/en/latest/index.html#not-implemented-error

In [ ]:
# install excel viewer in vscode

In [ ]:
df.to_excel('new_titanic.xlsx')
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

In [ ]:
df.to_csv('new_titanic.csv')
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

In [ ]:
df.to_parquet('new_titanic.parquet')
df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles
3    David   40        Chicago

Advance Dataset reading from excel

In [ ]:
df = pd.read_excel('titanic3.xls')
df

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [ ]:
df = pd.read_excel('titanic3.xls', sheet_name='titanic3') #takes by default firstsheet other wise sheet_name=0 , sheetname="data"
df


#if taking from local computer add r and convert backslashes to forward slash
# df2 =pd.read_excel(r"C:\Users\student\Downloads\titanic3.xls")

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

online data import

In [ ]:
import pandas as pd
import requests

url='https://en.wikipedia.org/wiki/World_population'

# Add a User-Agent header to mimic a web browser
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Fetch the content using requests
response = requests.get(url, headers=headers)
response.raise_for_status() # Raise an HTTPError for bad responses (4xx or 5xx)

# Read the HTML tables from the content
df = pd.read_html(response.text)
df=tables{}

/tmp/ipython-input-3164769751.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(response.text)

[      Population     1     2     3     4     5     6     7     8     9    10
 0           Year  1804  1927  1960  1974  1987  1999  2011  2022  2037  2057
 1  Years elapsed     â€“   123    33    14    13    12    12    11    15    20,
                                Region  2022 (percent)  2030 (percent)  \
 0                  Sub-Saharan Africa  1,152 (14.51%)  1,401 (16.46%)
 1    Northern Africa and Western Asia     549 (6.91%)     617 (7.25%)
 2      Central Asia and Southern Asia  2,075 (26.13%)  2,248 (26.41%)
 3  Eastern Asia and Southeastern Asia  2,342 (29.49%)  2,372 (27.87%)
 4         Europe and Northern America  1,120 (14.10%)  1,129 (13.26%)
 5     Latin America and the Caribbean     658 (8.29%)     695 (8.17%)
 6           Australia and New Zealand      31 (0.39%)      34 (0.40%)
 7                             Oceania      14 (0.18%)      15 (0.18%)
 8                               World            7942            8512

    2050 (percent)
 0  2,094 (21.62%)
 1     771 (7.96%)
 2  2,575 (26.58%)
 3  2,317 (23.92%)
 4  1,125 (11.61%)
 5     749 (7.73%)
 6      38 (0.39%)
 7      20 (0.21%)
 8            9687  ,
                      Region Density (inhabitants/km2) Population (millions)  \
 0                      Asia                     104.1                  4641
 1                    Africa                      44.4                  1340
 2                    Europe                      73.4                   747
 3             Latin America                      24.1                   653
 4  Northern America[note 1]                      14.9                   368
 5                   Oceania                         5                    42
 6                Antarctica                        ~0             0.004[89]

                                Most populous country  \
 0                              1,439,090,595 â€“ India
 1                            0,211,401,000 â€“ Nigeria
 2  0,146,171,000 â€“ Russia, approx. 110Â million in...
 3                             0,214,103,000 â€“ Brazil
 4                      0,332,909,000 â€“ United States
 5                          0,025,917,000 â€“ Australia
 6                                        N/A[note 2]

               Most populous city (metropolitan area)
 0  13,515,000 â€“ Tokyo Metropolis (37,400,000 â€“ Gr...
 1    09,500,000 â€“ Cairo (20,076,000 â€“ Greater Cairo)
 2  13,200,000 â€“ Moscow (20,004,000 â€“ Moscow metro...
 3  12,252,000 â€“ SÃ£o Paulo City (21,650,000 â€“ SÃ£o ...
 4  08,804,000 â€“ New York City (23,582,649 â€“ New Y...
 5                                05,367,000 â€“ Sydney
 6                       00,001,258 â€“ McMurdo Station  ,
   Country / Dependency  Population % of world         Date  \
 0                India  1425775850      17.3%  14 Apr 2023
 1                China  1409670000      17.1%  17 Jan 2024
 2        United States   338748853      4.12%  24 Dec 2025
 3            Indonesia   278696200      3.39%   1 Jul 2023
 4             Pakistan   229488994      2.79%   1 Jul 2022
 5               Brazil   220093182      2.68%  24 Dec 2025
 6              Nigeria   216746934      2.64%   1 Jul 2022
 7           Bangladesh   168220000      2.05%   1 Jul 2020
 8               Russia   147190000      1.79%   1 Oct 2021
 9               Mexico   128271248      1.56%  31 Mar 2022

   Source (official or from the United Nations)
 0                            UN projection[92]
 1                 National annual estimate[93]
 2                National population clock[94]
 3                 National annual estimate[95]
 4                            UN projection[96]
 5                National population clock[97]
 6                            UN projection[96]
 7               Annual Population Estimate[98]
 8          2021 preliminary census results[99]
 9                                          NaN  ,
                                                                                                                                                                #  \
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
 0                                                   1
 1                                                   2
 2                                                   3
 3                                                   4
 4                                                   5
 5                                                   6
 6                                                   7
 7                                                   8
 8                                                   9
 9                                                  10
 10                                                NaN
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                               Most populous countries  \
                                    Unnamed: 1_level_1
                                    Unnamed: 1_level_2
                                    Unnamed: 1_level_3
                                    Unnamed: 1_level_4
                                    Unnamed: 1_level_5
                                    Unnamed: 1_level_6
                                    Unnamed: 1_level_7
                                    Unnamed: 1_level_8
                                    Unnamed: 1_level_9
                                   Unnamed: 1_level_10
                                   Unnamed: 1_level_11
 0                                            China[B]
 1                                               India
 2                                       United States
 3                                           Indonesia
 4                                            Pakistan
 5                                              Brazil
 6                                             Nigeria
 7                                          Bangladesh
 8                                              Russia
 9                                              Mexico
 10                                        World total
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2000  \
                                    Unnamed: 2_level_1
                                    Unnamed: 2_level_2
                                    Unnamed: 2_level_3
                                    Unnamed: 2_level_4
                                    Unnamed: 2_level_5
                                    Unnamed: 2_level_6
                                    Unnamed: 2_level_7
                                    Unnamed: 2_level_8
                                    Unnamed: 2_level_9
                                   Unnamed: 2_level_10
                                   Unnamed: 2_level_11
 0                                                1270
 1                                                1053
 2                                                 283
 3                                                 212
 4                                                 136
 5                                                 176
 6                                                 123
 7                                                 131
 8                                                 146
 9                                                 103
 10                                               6127
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                                  2015  \
                                    Unnamed: 3_level_1
                                    Unnamed: 3_level_2
                                    Unnamed: 3_level_3
                                    Unnamed: 3_level_4
                                    Unnamed: 3_level_5
                                    Unnamed: 3_level_6
                                    Unnamed: 3_level_7
                                    Unnamed: 3_level_8
                                    Unnamed: 3_level_9
                                   Unnamed: 3_level_10
                                   Unnamed: 3_level_11
 0                                                1376
 1                                                1311
 2                                                 322
 3                                                 258
 4                                                 208
 5                                                 206
 6                                                 182
 7                                                 161
 8                                                 146
 9                                                 127
 10                                               7349
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

                                               2030[A]  \
                                    Unnamed: 4_level_1
                                    Unnamed: 4_level_2
                                    Unnamed: 4_level_3
                                    Unnamed: 4_level_4
                                    Unnamed: 4_level_5
                                    Unnamed: 4_level_6
                                    Unnamed: 4_level_7
                                    Unnamed: 4_level_8
                                    Unnamed: 4_level_9
                                   Unnamed: 4_level_10
                                   Unnamed: 4_level_11
 0                                                1416
 1                                                1528
 2                                                 356
 3                                                 295
 4                                                 245
 5                                                 228
 6                                                 263
 7                                                 186
 8                                                 149
 9                                                 148
 10                                               8501
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...

    Y axisX axis0300600900120015001800200020152030ChinaIndiaUnited StatesIndonesiaPakistanBrazilNigeriaBangladeshRussiaMexicoTen most populous countries raw data
                                                                                                                                               Unnamed: 5_level_1
                                                                                                                                               Unnamed: 5_level_2
                                                                                                                                               Unnamed: 5_level_3
                                                                                                                                               Unnamed: 5_level_4
                                                                                                                                               Unnamed: 5_level_5
                                                                                                                                               Unnamed: 5_level_6
                                                                                                                                               Unnamed: 5_level_7
                                                                                                                                               Unnamed: 5_level_8
                                                                                                                                               Unnamed: 5_level_9
                                                                                                                                              Unnamed: 5_level_10
                                                                                                                                              Unnamed: 5_level_11
 0                                                 NaN
 1                                                 NaN
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11  Notes: ^ 2030 = Medium variant. ^ China exclud...                                                                                                             ,
    Rank                 Country  Population  Area (km2)  Density (pop/km2)
 0     1               Singapore     5921231         719               8235
 1     2              Bangladesh   165650475      148460               1116
 2     3  Palestine[note 3][102]     5223000        6025                867
 3     4          Taiwan[note 4]    23580712       35980                655
 4     5             South Korea    51844834       99720                520
 5     6                 Lebanon     5296814       10400                509
 6     7                  Rwanda    13173730       26338                500
 7     8                 Burundi    12696478       27830                456
 8     9                  Israel     9402617       21937                429
 9    10                   India  1389637446     3287263                423,
    Rank         Country  Population  Area (km2)  Density (pop/km2)  \
 0     1           India  1389637446     3287263                423
 1     2        Pakistan   242923845      796095                305
 2     3      Bangladesh   165650475      148460               1116
 3     4           Japan   124214766      377915                329
 4     5     Philippines   114597229      300000                382
 5     6         Vietnam   103808319      331210                313
 6     7  United Kingdom    67791400      243610                278
 7     8     South Korea    51844834       99720                520
 8     9          Taiwan    23580712       35980                655
 9    10       Sri Lanka    23187516       65610                353

   Population trend[citation needed]
 0                           Growing
 1                   Rapidly growing
 2                           Growing
 3                    Declining[103]
 4                           Growing
 5                           Growing
 6                           Growing
 7                            Steady
 8                            Steady
 9                           Growing  ,
     Year  Population Yearly growth           Density (pop/km2)
     Year  Population             %    Number Density (pop/km2)
 0   1951  2543130380         1.75%  43808223                17
 1   1952  2590270899         1.85%  47140519                17
 2   1953  2640278797         1.93%  50007898                18
 3   1954  2691979339         1.96%  51700542                18
 4   1955  2746072141         2.01%  54092802                18
 ..   ...         ...           ...       ...               ...
 68  2019  7764951032         1.06%  81161204                52
 69  2020  7840952880         0.98%  76001848                53
 70  2021  7909295151         0.87%  68342271                53
 71  2022  7975105156         0.83%  65810005                54
 72  2023  8045311447         0.88%  70206291                54

 [73 rows x 5 columns],
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                     World   585   660   710   791   978  1262  1650  2521
 1                    Africa    86   114   106   106   107   111   133   221
 2                      Asia   282   350   411   502   635   809   947  1402
 3                    Europe   168   170   178   190   203   276   408   547
 4     Latin America[Note 1]    40    20    10    16    24    38    74   167
 5  Northern America[Note 1]     6     3     2     2     7    26    82   172
 6                   Oceania     3     3     3     2     2     2     6    13

    1999  2008  2010  2012  2050  2150
 0  6008  6707  6896  7052  9725  9746
 1   783   973  1022  1052  2478  2308
 2  3700  4054  4164  4250  5267  5561
 3   675   732   738   740   734   517
 4   508   577   590   603   784   912
 5   312   337   345   351   433   398
 6    30    34    37    38    57    51  ,
                      Region  1500  1600  1700  1750  1800  1850  1900  1950  \
 0                    Africa  14.7  17.3  14.9  13.4  10.9   8.8   8.1   8.8
 1                      Asia  48.2  53.0  57.9  63.5  64.9  64.1  57.4  55.6
 2                    Europe  28.7  25.8  25.1  20.6  20.8  21.9  24.7  21.7
 3     Latin America[Note 1]   6.8   3.0   1.4   2.0   2.5   3.0   4.5   6.6
 4  Northern America[Note 1]   1.0   0.5   0.3   0.3   0.7   2.1   5.0   6.8
 5                   Oceania   0.5   0.5   0.4   0.3   0.2   0.2   0.4   0.5

    1999  2008  2010  2012  2050  2150
 0  13.0  14.5  14.8  15.2  25.5  23.7
 1  61.6  60.4  60.4  60.3  54.2  57.1
 2  11.2  10.9  10.7  10.5   7.6   5.3
 3   8.5   8.6   8.6   8.6   8.1   9.4
 4   5.2   5.0   5.0   5.0   4.5   4.1
 5   0.5   0.5   0.5   0.5   0.6   0.5  ,
          Year    World  Africa    Asia  Europe  \
 0   70,000 BC  < 0.015     NaN     NaN     NaN
 1   10,000 BC        4     NaN     NaN     NaN
 2     8000 BC        5     NaN     NaN     NaN
 3     6500 BC        5     NaN     NaN     NaN
 4     5000 BC        5     NaN     NaN     NaN
 5     4000 BC        7     NaN     NaN     NaN
 6     3000 BC       14     NaN     NaN     NaN
 7     2000 BC       27     NaN     NaN     NaN
 8     1000 BC       50     7.0    33.0     9.0
 9      500 BC      100    14.0    66.0    16.0
 10       AD 1      200    23.0   141.0    28.0
 11       1000      400    70.0   269.0    50.0
 12       1500      458    86.0   243.0    84.0
 13       1600      580   114.0   339.0   111.0
 14       1700      682   106.0   436.0   125.0
 15       1750      791   106.0   502.0   163.0
 16       1800     1000   107.0   656.0   203.0

reading tabular data

In [17]:
import pandas as pd
df_tabulated=pd.read_table('titanic3.csv', sep=",", header=1)
df_tabulated

,1,1.1,"Allen, Miss. Elisabeth Walton",female,29,0,0.1,24160,211.3375,B5,S,2,Unnamed: 12,"St Louis, MO"
0,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
1,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3.0,0.0,"Zabour, Miss. Thamine",female,NaN,1.0,0.0,2665,14.4542,NaN,C,NaN,NaN,NaN
1305,3.0,0.0,"Zakarian, Mr. Mapriededer",male,26.5000,0.0,0.0,2656,7.2250,NaN,C,NaN,304.0,NaN
1306,3.0,0.0,"Zakarian, Mr. Ortin",male,27.0000,0.0,0.0,2670,7.2250,NaN,C,NaN,NaN,NaN
1307,3.0,0.0,"Zimmerman, Mr. Leo",male,29.0000,0.0,0.0,315082,7.8750,NaN,S,NaN,NaN,NaN
1308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_tabulated.dtypes

1                                float64
1.1                              float64
Allen, Miss. Elisabeth Walton     object
female                            object
29                               float64
0                                float64
0.1                              float64
24160                             object
211.3375                         float64
B5                                object
S                                 object
2                                 object
Unnamed: 12                      float64
St Louis, MO                      object
dtype: object

pandas type and python type
object   string
int64    int
float64  float
datetime64 datetime

In [21]:
df_tabulated.info

<bound method DataFrame.info of         1  1.1                    Allen, Miss. Elisabeth Walton  female  \
0     1.0  1.0                   Allison, Master. Hudson Trevor    male
1     1.0  0.0                     Allison, Miss. Helen Loraine  female
2     1.0  0.0             Allison, Mr. Hudson Joshua Creighton    male
3     1.0  0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female
4     1.0  1.0                              Anderson, Mr. Harry    male
...   ...  ...                                              ...     ...
1304  3.0  0.0                            Zabour, Miss. Thamine  female
1305  3.0  0.0                        Zakarian, Mr. Mapriededer    male
1306  3.0  0.0                              Zakarian, Mr. Ortin    male
1307  3.0  0.0                               Zimmerman, Mr. Leo    male
1308  NaN  NaN                                              NaN     NaN

           29    0  0.1   24160  211.3375       B5    S    2  Unnamed: 12  \
0      0.9167  1.0  2.0  113781  151.5500  C22 C26    S   11          NaN
1      2.0000  1.0  2.0  113781  151.5500  C22 C26    S  NaN          NaN
2     30.0000  1.0  2.0  113781  151.5500  C22 C26    S  NaN        135.0
3     25.0000  1.0  2.0  113781  151.5500  C22 C26    S  NaN          NaN
4     48.0000  0.0  0.0   19952   26.5500      E12    S    3          NaN
...       ...  ...  ...     ...       ...      ...  ...  ...          ...
1304      NaN  1.0  0.0    2665   14.4542      NaN    C  NaN          NaN
1305  26.5000  0.0  0.0    2656    7.2250      NaN    C  NaN        304.0
1306  27.0000  0.0  0.0    2670    7.2250      NaN    C  NaN          NaN
1307  29.0000  0.0  0.0  315082    7.8750      NaN    S  NaN          NaN
1308      NaN  NaN  NaN     NaN       NaN      NaN  NaN  NaN          NaN

                         St Louis, MO
0     Montreal, PQ / Chesterville, ON
1     Montreal, PQ / Chesterville, ON
2     Montreal, PQ / Chesterville, ON
3     Montreal, PQ / Chesterville, ON
4                        New York, NY
...                               ...
1304                              NaN
1305                              NaN
1306                              NaN
1307                              NaN
1308                              NaN

[1309 rows x 14 columns]>

In [22]:
df_tabulated.describe()

,1,1.1,29,0,0.1,211.3375,Unnamed: 12
count,1308.000000,1308.000000,1045.000000,1308.000000,1308.000000,1307.000000,121.000000
mean,2.295872,0.381498,29.881978,0.499235,0.385321,33.159257,160.809917
std,0.837390,0.485940,14.420375,1.041965,0.865826,51.543386,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [23]:
df_tabulated.head() #it gives first 5 rows

,1,1.1,"Allen, Miss. Elisabeth Walton",female,29,0,0.1,24160,211.3375,B5,S,2,Unnamed: 12,"St Louis, MO"
0,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.55,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
1,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.55,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.55,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.55,E12,S,3,NaN,"New York, NY"

**subsetting columns **

In [24]:
df_tabulated.columns

Index(['1', '1.1', 'Allen, Miss. Elisabeth Walton', 'female', '29', '0', '0.1',
       '24160', '211.3375', 'B5', 'S', '2', 'Unnamed: 12', 'St Louis, MO'],
      dtype='object')

In [25]:
df_tabulated.index

RangeIndex(start=0, stop=1309, step=1)

In [26]:
df_tabulated.shape

(1309, 14)

In [27]:
df_tabulated.size

18326

In [34]:
df_col=df_tabulated['29']  #to see dat of specific column
df_col.head()

0     0.9167
1     2.0000
2    30.0000
3    25.0000
4    48.0000
Name: 29, dtype: float64

In [35]:
df_col.tail()

1304     NaN
1305    26.5
1306    27.0
1307    29.0
1308     NaN
Name: 29, dtype: float64

In [38]:
subset=df_tabulated[['29','B5']]
subset.head()

        29       B5
0   0.9167  C22 C26
1   2.0000  C22 C26
2  30.0000  C22 C26
3  25.0000  C22 C26
4  48.0000      E12

**subsetting rows**

In [42]:
#get the first row
#python counts from zero
df=df_tabulated
df.loc[ 0]

1                                                            1.0
1.1                                                          1.0
Allen, Miss. Elisabeth Walton     Allison, Master. Hudson Trevor
female                                                      male
29                                                        0.9167
0                                                            1.0
0.1                                                          2.0
24160                                                     113781
211.3375                                                  151.55
B5                                                       C22 C26
S                                                              S
2                                                             11
Unnamed: 12                                                  NaN
St Louis, MO                     Montreal, PQ / Chesterville, ON
Name: 0, dtype: object

In [44]:
df.loc[56]

1                                                                      1.0
1.1                                                                    1.0
Allen, Miss. Elisabeth Walton    Carter, Mrs. William Ernest (Lucile Polk)
female                                                              female
29                                                                    36.0
0                                                                      1.0
0.1                                                                    2.0
24160                                                               113760
211.3375                                                             120.0
B5                                                                 B96 B98
S                                                                        S
2                                                                        4
Unnamed: 12                                                            NaN
St Louis, MO                                                 Bryn Mawr, PA
Name: 56, dtype: object