<a href="https://colab.research.google.com/github/mbilal-OU/python_workshop/blob/main/PYTHON_SCRIPT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first="ali"
last="ahmad"
full=f"{first} {last}"
print(full)

ali ahmad

In [ ]:
# ali family name is ahmad
family=f"{first} family name is {last}"
print(family)

ali family name is ahmad

In [ ]:
!python --version

Python 3.12.12

In [ ]:
first= ' python '
print(first)

print(first.strip())

 python
python

ali

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
cars=['audi','bmw','mercedez','honda']

In [ ]:
print(cars[1])
print(cars[3])

bmw
honda

In [ ]:
# access list elements
new_car=f"my first car was {cars[2]} and second is {cars[3]}"
print(new_car)

my first car was mercedez and second is honda

In [ ]:
# modify_list

In [ ]:
cars[1]="tesla"

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda']

In [ ]:
# add element

In [ ]:
cars.append("kia")

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# insert at any position

In [ ]:
cars.insert(1,"toyota")

In [ ]:
print(cars)

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# delete any entry

In [ ]:
del cars[1]

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
del cars[-1]

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda']

In [ ]:
print(cars[-2])

mercedez

In [ ]:
cars.pop()

'honda'

In [ ]:
cars

['audi', 'tesla', 'mercedez']

In [ ]:
cars.pop(-3)

'audi'

In [ ]:
print(cars)

['tesla', 'mercedez']

In [ ]:
cars.remove('tesla')

In [ ]:
print(cars)

['mercedez']

In [ ]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
cars

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
age=[3,4,2,7,9,5,6]

In [ ]:
age.sort()

In [ ]:
age

[2, 3, 4, 5, 6, 7, 9]

In [ ]:
age

[3, 4, 2, 7, 9, 5, 6]

In [ ]:
sorted(age)

[2, 3, 4, 5, 6, 7, 9]

In [ ]:
age

[3, 4, 2, 7, 9, 5, 6]

In [ ]:
age.reverse()

In [ ]:
age

[6, 5, 9, 7, 2, 4, 3]

In [ ]:
len(age)

7

**looping through lists**

In [ ]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# FOR LOOP

In [ ]:
for vehicle in cars:
  print(vehicle)

audi
toyota
tesla
mercedez
honda
kia

In [ ]:
# i love this audi

In [ ]:
for vehicle in cars:
  print(f"I love this {vehicle}")

SyntaxError: invalid syntax (ipython-input-3377813971.py, line 1)

In [ ]:
for vehicle in cars:
    print(f"I love this {vehicle}")

#

I love this audi
I love this toyota
I love this tesla
I love this mercedez
I love this honda
I love this kia

In [ ]:
for vehicle in cars:
    print(f"I love this {vehicle.upper()}")

I love this AUDI
I love this TOYOTA
I love this TESLA
I love this MERCEDEZ
I love this HONDA
I love this KIA

In [ ]:
for vehicle in cars:
  print(f"I love this {vehicle.title()}")

I love this Audi
I love this Toyota
I love this Tesla
I love this Mercedez
I love this Honda
I love this Kia

In [ ]:
# make numerical list using for loop

In [ ]:
for value in range(2):
  print(value)

0
1

In [ ]:
for value in range (2,50,4):
  print(value)

2
6
10
14
18
22
26
30
34
38
42
46

In [ ]:
# create a range from 5(start) to 100(end) with steps of 5

In [ ]:
for value in range(5,100,5):
  print(value)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
# create a list from 5(start) to 100(end) with steps of 5

In [ ]:
numbers=list(range(5,100,5))

In [ ]:
numbers

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
numbers

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
print(min(numbers))

5

In [ ]:
print(max(numbers))

95

In [ ]:
print(sum(numbers))

950

In [ ]:
print(len(numbers))

19

In [ ]:
mean=sum(numbers)/len(numbers)
print(mean)

50.0

In [ ]:
# CREATE SQUARES OF LIST FROM 1 TO 5

In [ ]:
sqr_list=5

In [ ]:
sqr_list

5

In [ ]:
sqr_list*sqr_list

25

In [ ]:
for values in range(1,10,2):
  print(values*values)

1
9
25
49
81

In [ ]:
for values in range(1,10,2):
  print(values**2)

1
9
25
49
81

In [ ]:
for values in range(1,10):
  print(values)

1
2
3
4
5
6
7
8
9

In [ ]:
# SLICING A LIST

In [ ]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
cars

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
print(cars)

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# print only 2nd element
print(cars[1])

toyota

In [ ]:
# print from toyota to mercedes
print(cars[1:4])

['toyota', 'tesla', 'mercedez']

In [ ]:
# print from toyota to kia  with step 1
print(cars[1:-1:1])

['toyota', 'tesla', 'mercedez', 'honda']

In [ ]:
# print from toyota to kia  with step 1
print(cars[1:-1:2])

['toyota', 'mercedez']

In [ ]:
# print from toyota to kia  with step 1
print(cars)
print(cars[:-1:2])

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']
['audi', 'tesla', 'honda']

In [ ]:
students=['ali','arslan','ahmad','bill','john','sherif','ou']

In [ ]:
print(students)

['ali', 'arslan', 'ahmad', 'bill', 'john', 'sherif', 'ou']

In [ ]:
print(students[0:3])

['ali', 'arslan', 'ahmad']

In [ ]:
for top in students:
  print(top)

ali
arslan
ahmad
bill
john
sherif
ou

In [ ]:
for top in students[0:3]:
  print(top)

ali
arslan
ahmad

In [ ]:
for top in students[0:3]:
  print(f" topper is the one from {top}")

 topper is the one from ali
 topper is the one from arslan
 topper is the one from ahmad

In [ ]:
cars=['audi','bmw','mercedez']

In [ ]:
print(cars)

['audi', 'bmw', 'mercedez']

In [ ]:
type(cars)

list

In [ ]:
# TUPLE (UNCHANGEABLE LIST)

In [ ]:
vehicle=("audi",'bmw','mercedez')

In [ ]:
print(vehicle)

('audi', 'bmw', 'mercedez')

In [ ]:
type(vehicle)

tuple

In [ ]:
for car in vehicle:
  print(car)

audi
bmw
mercedez

In [ ]:
cars.clear()

In [ ]:
print(cars)

[]

**IF STATEMENT**

In [ ]:
car_name="audi"
year=2005
price=12.5
tag= "m"

In [ ]:
type(car_name)
type(year)
type(price)
type(tag)

str

In [ ]:
cars=["audi","bmw","mercedez",2005,2007,2015,20.5,20.3,13.4,0.5]

In [ ]:
for car in cars:
  print(car)

audi
bmw
mercedez

In [ ]:
for car in cars:
  print(car.upper())

AUDI
BMW
MERCEDEZ

In [ ]:
for car in cars:
  if car=="bmw":
    print(car.upper())
  else:
    print(car)

audi
BMW
mercedez
2005
2007
2015
20.5
20.3
13.4
0.5

In [ ]:
for car in cars:
  if type(car)==str:
    print(car)
  else:
    print("no integer found")

audi
bmw
mercedez
no integer found
no integer found
no integer found
no integer found
no integer found
no integer found
no integer found

In [ ]:
for car in cars:
  if type(car)==int and car > 2010:
    print(f"available model is {car}")
  else:
    print("all are old")

all are old
all are old
all are old
all are old
all are old
available model is 2015
all are old
all are old
all are old
all are old

In [ ]:
for car in cars:
  if type(car)==str or type(car)==int:
    print(f"this is still valid {car}")
  else:
    print('this is float')

this is still valid audi
this is still valid bmw
this is still valid mercedez
this is still valid 2005
this is still valid 2007
this is still valid 2015
this is float
this is float
this is float
this is float

In [ ]:
bilal_age=25
rehan_age=27
irfan_age=17

In [ ]:
age=bilal_age
if age > 18:
  print("eligible for vote")
else:
  print("not eligible for vote")

eligible for vote

In [ ]:
age=irfan_age
if age > 18:
  print("eligible for vote")
else:
  print("not eligible for vote")

not eligible for vote

In [ ]:
age_group=bilal_age,rehan_age,irfan_age

In [ ]:
type(age_group)

tuple

In [ ]:
if age_group > 18:
  print("eligible for vote")
else:
  print("not eligible for vote")

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [ ]:
print(cars)

['audi', 'bmw', 'mercedez', 2005, 2007, 2015, 20.5, 20.3, 13.4, 0.5]

In [ ]:
cars=["audi","bmw","mercedez",2005,2007,2015,20.5,20.3,13.4,0.5]

In [ ]:
grade="F"

In [ ]:
if grade == "A":
  print("cgpa is 4.0")
elif grade=="A-":
  print("cgpa is 3.7")
elif grade=="B":
  print("cgpa is 3.5")
else:
  print("failed")

failed

In [ ]:
pizzas=("cheese","bbq")

In [ ]:
age="20"
if type(age)==int:
  if age > 18:
    print("eligible for vote")
  else:
    print("not eligible for vote")
else:
  print("invalid")

invalid

In [ ]:
pwd=8829

if type(pwd)==int:
  if pwd==8828:
    print("login succesful")
  else:
    print("incorrect pwd")
else:
  print("enter only number")
# username=mbilal

incorrect pwd

In [ ]:
dishes=("chicken","mutton","beef")
if "cheese" in dishes:
  print("available")
else:
  print("try something else")

try something else

In [ ]:
#netsed if-else
number=int(input("Enter a number :"))
if number > 0 :
  if number %2 == 0:
    print("the number is positive and even")
  else:print("the number is positive and odd")
else:
  if number == 0:
    print("the number is zero")
  else:
    print("the number is negative")

Enter a number :15
the number is positive and odd

In [ ]:
#conditional expressions also known as ternary operator
age= 16
status = "Adult" if age >= 18 else "Minor"
print(status)

Minor

**DICTIONARIES**

In [ ]:
age_group={
    "ali_age":15,
    "arslan_age":25,
    "sunny_age":34,
    "bilal_age":20

}

In [ ]:
my_car={
    "model":"audi",
    "year":2020,
    "price":12.5
}

In [ ]:
grades={
    "ali":3.4,
    "arslan":3.5,
    "sunny":3.7,
    "bilal":4.0
}

**access dictionary**

In [ ]:
print(grades['ali'])

3.4

In [ ]:
print(age_group['ali_age'])

15

In [ ]:
print(age_group)

{'ali_age': 15, 'arslan_age': 25, 'sunny_age': 34, 'bilal_age': 20}

In [ ]:
print(f"my car model is {my_car['model']}")

my car model is audi

In [ ]:
print(f"my car was made in {my_car['year']}")

my car was made in 2020

In [ ]:
age_group

{'ali_age': 15, 'arslan_age': 25, 'sunny_age': 34, 'bilal_age': 20}

In [ ]:
print(age_group['ali_age'])

15

In [ ]:
age_group={
    "ali":15,
    "arslan":25,
    "sunny":34,
    "bilal":20

}

In [ ]:
print(age_group["ali"])

15

In [ ]:
print(age_group)

{'ali': 15, 'arslan': 25, 'sunny': 34, 'bilal': 20}

In [ ]:
for key,value in age_group.items():
  print(key,value)

ali 15
arslan 25
sunny 34
bilal 20

In [ ]:
for names,ages in age_group.items():
  print(names,ages)


  #first takes keys
  #second takes values

ali 15
arslan 25
sunny 34
bilal 20

In [ ]:
for names,ages in age_group.items():
  if ages > 18:
    print(f"{names} is eligible for vote")
  else:
    print(f"{names} is not eligible for vote")

ali is not eligible for vote
arslan is eligible for vote
sunny is eligible for vote
bilal is eligible for vote

In [ ]:
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}

In [ ]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)

for names,gardes in grades.items():
  if grades >3.5:
    print(f"{names} is eligible for GAship" )
    if grades == 3.2:
      print(f"{names} is only eligible for admission")
      else:
        print("try next year")
    else:
      print("withdrawn")

SyntaxError: invalid syntax (ipython-input-1194972667.py, line 8)

In [ ]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)

for names,grades in grades.items():
  if grades > 3.5:
    print(f"{names} is eligible for GAship" )
    if grades == 3.2:
      print(f"{names} is only eligible for admission")

    else:
      print("withdrawn")

AttributeError: 'float' object has no attribute 'items'

In [ ]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)

for names,grades in grades.items():
  print(grades)

3.5
4.0
3.2
2.5

In [ ]:
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}
for names,grades in grades.items():
  if grades > 3.5:
    print(f"{names} is eligible")

ahmad is eligible

In [ ]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}
for names,grades in grades.items():
  if grades > 3.5:
    print(f"{names} is eligible for GAship" )
  else:
      print(f"{names} your application is withdrawn")

ali your application is withdrawn
ahmad is eligible for GAship
arslan your application is withdrawn
bilal your application is withdrawn

In [ ]:
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}
for names,cgpa in grades.items():
  if cgpa > 3.7:
    print(f"{names} are eligible for scholarship ")
  if cgpa >= 3.5 and cgpa< 3.7:
    print(f"{names} are good for admission ")
  if cgpa > 3.0 and cgpa < 3.5 :
    print(f"{names} try next year")

ali are good for admission
ahmad are eligible for scholarship
arslan try next year

In [ ]:
menu={
    "breakfast":["and","chaaye","paratha"],
    "lunch":["salad",365],
    "dinner":["boiled rice","beef"],
    "restaurant": 15
}

In [ ]:
print(menu["restaurant"])

15

In [ ]:
print(menu["breakfast"])

['and', 'chaaye', 'paratha']

In [ ]:
#print any specific value
print(menu["breakfast"][1])

chaaye

In [ ]:
print(menu["dinner"][0:2])

['boiled rice', 'beef']

**NESTING DICTIONARY**

In [ ]:
apt_2749={
    "201":["fedra","stephany"],
    "202":["jack","mike"],
    "203":["bilal","rehan","irfan"]
}

In [ ]:
print(apt_2749["203"])

['bilal', 'rehan', 'irfan']

In [ ]:
apt_2749={

          "room_203":{
              "irfan":"masters",
              "rehan":"phd",
              "bilal":"phd"
          },

          "room_201":{
              "fedra":"phd",
              "stephany":"masters"
          },

          "room_202":{
              "mike":"data",
              "jack":"bio"
          }

}

In [ ]:
#print bilal qulaification
print(apt_2749["room_203"])

{'irfan': 'masters', 'rehan': 'phd', 'bilal': 'phd'}

In [ ]:
print(apt_2749["room_203"]["bilal"])

phd

In [ ]:

print(apt_2749["room_201"]["fedra"])

phd

In [ ]:
user_name=input("enter the username")
pwd=input("enter the password")
if user_name =="bilal3" and pwd=="2749":
  print("login succesful")
else:
  print("invalid username or pwd")

enter the usernamebilal3
enter the password8828
invalid username or pwd

In [ ]:
user_credential={
    "bilal":{
        "user_name":"bilal3",
        "pwd":"2749"
    },

    "rehan":{
        "user_name":"rehan4",
        "pwd":"203"
    }
}

In [ ]:
login_user=input("enter the username")
login_pwd=input("enter the password")
for key,value in user_credential.items():
  # print(value["user_name"])
  # print(value['pwd'])
  if login_user ==value["user_name"] and pwd==value['pwd']:
    print("login succesful")
  else:
    print("invalid username or pwd")

enter the usernamebilal3
enter the password2749
invalid username or pwd
invalid username or pwd

In [ ]:
name = input("enter your name :")
print(f"welcome {name} to python ")

enter your name :arslan
welcome arslan to python

In [ ]:
age=input("enter our age: ")
print(f" ohh you are just {age}")

enter our age: 25
 ohh you are just 25

In [ ]:
age=input("enter our age: ")
print(f" so next uear you will be {int(age) +1}")

enter our age: 25
 so next uear you will be 26

In [ ]:
# input from user to add two number and print result
x = input("enter first number: ")
y = input("enter second number: ")
print(f"sum of {x} and {y} is {int(x) + int(y)}")

enter first number: 15
enter second number: 30
sum of 15 and 30 is 45

Type casting

In [ ]:
 a= 1
 print(type(a))

<class 'int'>

In [ ]:
#data_type error
b="1"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
c=int(b)
print(type(c))

<class 'int'>

In [ ]:
print(a+c)

2

In [ ]:
print(a+int(b))

2

In [ ]:
#all numerical value can be cast into string but not all str type to int
mynum=26
mynum2=str(mynum)
print(type(mynum2))

<class 'str'>

In [ ]:
f1=22.56
f2=int(f1)
print(f2)
print(type(f2))

22
<class 'int'>

In [ ]:
int1=26
print(type(float(int1)))

<class 'float'>

implicit casting also known as coercion

In [ ]:
var1=10 #int
var2=15.5 #float
var3=var1 + var2
print(var3)
print(type(var3))

25.5
<class 'float'>

In [ ]:
int_num=101
str_num=str(int_num)
print(type(str_num))

<class 'str'>

In [ ]:
a0=bool(0)
print(a0)
print(type(a0))

False
<class 'bool'>

In [ ]:
a1=bool(1)
print(a1)
print(type(a1))

True
<class 'bool'>

**class**

In [ ]:
def sum(x,y):
  print(x+y)

In [ ]:
sum(4,5)

9

In [ ]:
class Dog :
  # a simple attempt to model a dog
  def __init__(self,name,age):
    # "initialize name and age attributes"
    self.name=name
    self.age=age

  def sit(self):
    print(f"{self.name} is now sitting")

  def roll_over(self):
    print(f"{self.name} rolled over")

In [ ]:
my_dog=Dog("tommy",5) #instance

In [ ]:
print(f"my dog name is{my_dog.name}")

In [ ]:
print(f" my dog age is {my_dog.age}")

 my dog age is 5

In [ ]:
my_dog.sit()

tommy is now sitting

In [ ]:
my_dog.roll_over()

tommy rolled over

CAR CLASS

In [ ]:
class Car:
  "a simple attempt to represent a car"
  def __init__(self,make ,model,year):
    "intilaize attributes to describe a car"
    self.make=make
    self.model=model
    self.year=year
    self.color="blue"

  def get_descriptive_name(self):
    print(f"{self.year} {self.make} {self.model}")

In [ ]:
my_car=Car("toyota","hyundai",2006)

In [ ]:
my_car.get_descriptive_name()

2006 toyota hyundai

In [ ]:
my_car.color

'blue'

In [ ]:
# calculator
class Calculator:
  def __init__(self,num1,num2):
    self.num1=num1
    self.num2=num2

  def add(self):
    print(self.num1 + self.num2)

In [ ]:
my_data=Calculator(15,10)

In [ ]:
my_data.add()

25

In [ ]:
# inherit calculator
class Scientific_calculator(Calculator):
  def __init__(self,num1,num2):
    self.num1=num1
    self.num2=num2

  # def add(self):
  #   print(self.num1 + self.num2)

In [ ]:
my_calculator=Scientific_calculator(35,10)

In [ ]:
my_calculator.add()

45

In [ ]:
# inherit calculator
class Scientific_calculator(Calculator):
  def __init__(self,num1,num2):
    super().__init__(num1,num2)


  def multiply(self):
    print(self.num1 * self.num2)

In [ ]:
my_calculator=Scientific_calculator(35,10)

In [ ]:
my_calculator.multiply()

350

In [ ]:
my_calculator.add()

45

In [ ]:
# inherit calculator override
class Scientific_calculator(Calculator):
  def __init__(self,num1,num2):
    super().__init__(num1,num2)


  def multiply(self):
    print(self.num1 * self.num2)

  def add(self):
    print("this is add method of child ")

In [ ]:
my_calculator=Scientific_calculator(35,10)

In [ ]:
my_calculator.add()

this is add method of child

import class

In [ ]:
!mkdir vehicle

In [ ]:
pwd

'/content'

In [ ]:
ls

sample_data/  vehicle/

In [ ]:
!touch /vehicle car.py

In [ ]:
ls

car.py  sample_data/  vehicle/

In [ ]:
!touch /vehicle my_car.py

In [ ]:
!python /content/my_car.py

2025 mercede v4

**Functions**

In [ ]:
# def my_function(param):
#   instruction-1
#   instruction-2
#   ----
# return result

In [ ]:
# create function
def greetings(): #without parameters
  print("welcome to python")

In [ ]:
# call function
greetings()

welcome to python

In [ ]:
def add2numbers(a,b): #with parameters
  result=a+b
  print("the sum is" , result)

In [ ]:
# calling function with argument (5,4)
add2numbers(5,4)

the sum is 9

In [ ]:
add2numbers(b=10,a=15) #we can change the value sequence or directly give value

the sum is 25

In [ ]:
def sum3(a,b,c): #with parameters
  result=a+b+c
  print("the sum is" , result)

In [ ]:
sum3(10,12,20)

the sum is 42

In [ ]:
 sum3(10,12)

TypeError: sum3() missing 1 required positional argument: 'c'

In [ ]:
#result statement
def add(a,b):
  return a+b #this line sends back sum of a and b

result = add (3,5)
print(result)

8

In [ ]:
 #result statement
def add(a,b):
  return a+b #this line sends back sum of a and b
  return a-b #it will not work as the return ends the function

In [ ]:
# save ir in result then print it
result = add (3,5)
print(result)

8

In [ ]:
# use of return

def celsious_to_f(celsius):
  fahrenheit= (celsius * 9/5) + 32
  return fahrenheit  # this vlaue can be used further as we used here to check type

temp_f=celsious_to_f(25)
print("temperature is Fahrenheit :",temp_f)
print("with return :", type(temp_f))

temperature is Fahrenheit : 77.0
with return : <class 'float'>

In [ ]:
def celsious_to_f(celsius):
  fahrenheit= (celsius * 9/5) + 32
  print(fahrenheit) #type is non type because after print you can't use it
temp_f2= celsious_to_f(25)
print("without return :", type(temp_f2))

77.0
without return : <class 'NoneType'>

The pass statement

In [ ]:
def myfunction():

print("hello")

IndentationError: expected an indented block after function definition on line 1 (ipython-input-2298118503.py, line 3)

In [ ]:
def myfunction(): #code to be updated later
  pass #does nothing

print("hello")

hello

# Ternary expressions

In [ ]:
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

age = 15
status = "Adult" if age >= 18 else "Minor"
print(status)

Adult
Minor

**Ternary Expressions (Conditional Expressions)**

A ternary expression, also known as a conditional expression, allows you to assign a value to a variable based on a condition in a single line. It's a concise way to write simple `if-else` statements.

**Syntax:**

`value_if_true if condition else value_if_false`

**Explanation of the code above:**

*   `age = 20`: Initializes the `age` variable to 20.
*   `status = "Adult" if age >= 18 else "Minor"`: This is the ternary expression.
    *   `age >= 18` is the condition.
    *   If the condition is `True` (age is 20, which is `>= 18`), then `"Adult"` is assigned to `status`.
    *   If the condition is `False`, then `"Minor"` would be assigned to `status`.
*   The same logic is applied for `age = 15`, resulting in `"Minor"` being assigned to `status`.

# Tuple

In [ ]:
tup=4,5,6
tup

(4, 5, 6)

In [ ]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [ ]:
#convert any sequnce into tuple
tuple([4,0,2])
tup=tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
tup[0]

's'

In [ ]:
tup=tuple(['foo',[1,2],True])
tup[2]

True

In [ ]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [ ]:
#similarly we can add and multiply tuples by using + , * operator

unpacking tuple

In [ ]:
tup=(4,5,6)
a,b,c = tup
b

5

In [ ]:
tup=4,5,(6,7)
a,b,(c,d)=tup
d

7

In [ ]:
#swap variables
a,b=1,2
print(a)
print(b)

1
2

In [ ]:
b,a=a,b
print(a)
print(b)

2
1

In [ ]:
#iterating over sequences
seq= [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
  print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [ ]:
#pluck *rest(find or delete)
values=1,2,3,4,5
a,b, *rest= values
a,b

(1, 2)

In [ ]:
rest

[3, 4, 5]

In [ ]:
#tuple method
a=(1,2,3,2,4,2,4,2,4)
a.count(2)

4

# **LIST**

In [8]:
#THEY ARE DEFINED BY SQUARE BRACKETS [] OR USING LIST FUNC
a_list=[2,3,4,4,5,None]
a_list

[2, 3, 4, 4, 5, None]

In [9]:
tup=("foo",'bar','baz') #now we can modify tuple
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [10]:
b_list[1]='peakaboo'

In [11]:
b_list

['foo', 'peakaboo', 'baz']

In [15]:
# materialize an interator
gen=range(10)
gen

range(0, 10)

In [16]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
#adding and removing elements
#append at the end
b_list.append('dwarf')
b_list

['foo', 'peakaboo', 'baz', 'dwarf']

In [18]:
# insert at any specific location
b_list.insert(1,"red")
b_list

['foo', 'red', 'peakaboo', 'baz', 'dwarf']

In [19]:
#inverse operation to insert is pop which removes and returns an element at a particular index
b_list.pop(2)

'peakaboo'

In [20]:
b_list #peakaboo is removed

['foo', 'red', 'baz', 'dwarf']

In [21]:
#values can be removed with remove
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [22]:
b_list.remove('foo') #it will remove first such value
b_list

['red', 'baz', 'dwarf', 'foo']

In [23]:
"dwarf" in b_list #can be used key word to check in

True

In [24]:
"dwarf" not in b_list

False

In [25]:
#concatenating and combinbing list
[3,None,'foo']+[7,8,(2,3)]

[3, None, 'foo', 7, 8, (2, 3)]

In [26]:
everything=[]
for chunk in list_of_lists:
  everything.extend(chunk)

# is faster then
everything=[]
for chunk in list_of_lists:
everything=everything +chunk

NameError: name 'list_of_lists' is not defined


When concatenating lists, `list.extend()` is generally more efficient than `+` (the concatenation operator) especially for a large number of concatenations or large lists. This is because `+` creates a new list object each time, which involves reallocating memory and copying elements, while `extend()` modifies the list in place without creating intermediate lists.

In [27]:
list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Using extend()
# This is generally more efficient as it modifies the list in place.
everything_extend = []
for chunk in list_of_lists:
  everything_extend.extend(chunk)

print("Using extend():", everything_extend)

Using extend(): [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list_of_lists = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Using +
# This creates a new list object in each iteration, which can be less efficient
# for many concatenations.
everything_plus = []
for chunk in list_of_lists:
    everything_plus = everything_plus + chunk

print("Using + operator:", everything_plus)

Using + operator: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
#sorting
a=[7,2,5,1,3]

In [30]:
a.sort()

In [31]:
a

[1, 2, 3, 5, 7]

In [32]:
b=['saw','small','he']
b.sort(key=len)
b

['he', 'saw', 'small']

In [33]:
#binary search and maintaining a sorted list
#built in bisect.bisect module where it should be sorted and bisect.insort inserts the element
import bisect
c=[1,2,2,3,3,4,5,6]
bisect.bisect(c,2)

3

In [34]:
bisect.bisect(c,5)

7

In [35]:
bisect.insort(c,6)
c

[1, 2, 2, 3, 3, 4, 5, 6, 6]