<a href="https://colab.research.google.com/github/mbilal-OU/python_workshop/blob/main/PYTHON_SCRIPT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
first="ali"
last="ahmad"
full=f"{first} {last}"
print(full)

ali ahmad

In [ ]:
# ali family name is ahmad
family=f"{first} family name is {last}"
print(family)

ali family name is ahmad

In [ ]:
!python --version

Python 3.12.12

In [ ]:
first= ' python '
print(first)

print(first.strip())

 python
python

ali

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
cars=['audi','bmw','mercedez','honda']

In [ ]:
print(cars[1])
print(cars[3])

bmw
honda

In [ ]:
# access list elements
new_car=f"my first car was {cars[2]} and second is {cars[3]}"
print(new_car)

my first car was mercedez and second is honda

In [ ]:
# modify_list

In [ ]:
cars[1]="tesla"

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda']

In [ ]:
# add element

In [ ]:
cars.append("kia")

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# insert at any position

In [ ]:
cars.insert(1,"toyota")

In [ ]:
print(cars)

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# delete any entry

In [ ]:
del cars[1]

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
del cars[-1]

In [ ]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda']

In [ ]:
print(cars[-2])

mercedez

In [ ]:
cars.pop()

'honda'

In [ ]:
cars

['audi', 'tesla', 'mercedez']

In [ ]:
cars.pop(-3)

'audi'

In [ ]:
print(cars)

['tesla', 'mercedez']

In [ ]:
cars.remove('tesla')

In [ ]:
print(cars)

['mercedez']

In [ ]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
cars

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
age=[3,4,2,7,9,5,6]

In [ ]:
age.sort()

In [ ]:
age

[2, 3, 4, 5, 6, 7, 9]

In [ ]:
age

[3, 4, 2, 7, 9, 5, 6]

In [ ]:
sorted(age)

[2, 3, 4, 5, 6, 7, 9]

In [ ]:
age

[3, 4, 2, 7, 9, 5, 6]

In [ ]:
age.reverse()

In [ ]:
age

[6, 5, 9, 7, 2, 4, 3]

In [ ]:
len(age)

7

**looping through lists**

In [ ]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# FOR LOOP

In [ ]:
for vehicle in cars:
  print(vehicle)

audi
toyota
tesla
mercedez
honda
kia

In [ ]:
# i love this audi

In [ ]:
for vehicle in cars:
  print(f"I love this {vehicle}")

SyntaxError: invalid syntax (ipython-input-3377813971.py, line 1)

In [ ]:
for vehicle in cars:
    print(f"I love this {vehicle}")

#

I love this audi
I love this toyota
I love this tesla
I love this mercedez
I love this honda
I love this kia

In [ ]:
for vehicle in cars:
    print(f"I love this {vehicle.upper()}")

I love this AUDI
I love this TOYOTA
I love this TESLA
I love this MERCEDEZ
I love this HONDA
I love this KIA

In [ ]:
for vehicle in cars:
  print(f"I love this {vehicle.title()}")

I love this Audi
I love this Toyota
I love this Tesla
I love this Mercedez
I love this Honda
I love this Kia

In [ ]:
# make numerical list using for loop

In [ ]:
for value in range(2):
  print(value)

0
1

In [ ]:
for value in range (2,50,4):
  print(value)

2
6
10
14
18
22
26
30
34
38
42
46

In [ ]:
# create a range from 5(start) to 100(end) with steps of 5

In [ ]:
for value in range(5,100,5):
  print(value)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [ ]:
# create a list from 5(start) to 100(end) with steps of 5

In [ ]:
numbers=list(range(5,100,5))

In [ ]:
numbers

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
numbers

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [ ]:
print(min(numbers))

5

In [ ]:
print(max(numbers))

95

In [ ]:
print(sum(numbers))

950

In [ ]:
print(len(numbers))

19

In [ ]:
mean=sum(numbers)/len(numbers)
print(mean)

50.0

In [ ]:
# CREATE SQUARES OF LIST FROM 1 TO 5

In [ ]:
sqr_list=5

In [ ]:
sqr_list

5

In [ ]:
sqr_list*sqr_list

25

In [ ]:
for values in range(1,10,2):
  print(values*values)

1
9
25
49
81

In [ ]:
for values in range(1,10,2):
  print(values**2)

1
9
25
49
81

In [ ]:
for values in range(1,10):
  print(values)

1
2
3
4
5
6
7
8
9

In [ ]:
# SLICING A LIST

In [ ]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
cars

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
print(cars)

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [ ]:
# print only 2nd element
print(cars[1])

toyota

In [ ]:
# print from toyota to mercedes
print(cars[1:4])

['toyota', 'tesla', 'mercedez']

In [ ]:
# print from toyota to kia  with step 1
print(cars[1:-1:1])

['toyota', 'tesla', 'mercedez', 'honda']

In [ ]:
# print from toyota to kia  with step 1
print(cars[1:-1:2])

['toyota', 'mercedez']

In [ ]:
# print from toyota to kia  with step 1
print(cars)
print(cars[:-1:2])

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']
['audi', 'tesla', 'honda']

In [ ]:
students=['ali','arslan','ahmad','bill','john','sherif','ou']

In [ ]:
print(students)

['ali', 'arslan', 'ahmad', 'bill', 'john', 'sherif', 'ou']

In [ ]:
print(students[0:3])

['ali', 'arslan', 'ahmad']

In [ ]:
for top in students:
  print(top)

ali
arslan
ahmad
bill
john
sherif
ou

In [ ]:
for top in students[0:3]:
  print(top)

ali
arslan
ahmad

In [ ]:
for top in students[0:3]:
  print(f" topper is the one from {top}")

 topper is the one from ali
 topper is the one from arslan
 topper is the one from ahmad

In [ ]:
cars=['audi','bmw','mercedez']

In [ ]:
print(cars)

['audi', 'bmw', 'mercedez']

In [ ]:
type(cars)

list

In [ ]:
# TUPLE (UNCHANGEABLE LIST)

In [ ]:
vehicle=("audi",'bmw','mercedez')

In [ ]:
print(vehicle)

('audi', 'bmw', 'mercedez')

In [ ]:
type(vehicle)

tuple

In [ ]:
for car in vehicle:
  print(car)

audi
bmw
mercedez

In [ ]:
cars.clear()

In [ ]:
print(cars)

[]

**IF STATEMENT**

In [20]:
car_name="audi"
year=2005
price=12.5
tag= "m"

In [22]:
type(car_name)
type(year)
type(price)
type(tag)

str

In [23]:
cars=["audi","bmw","mercedez",2005,2007,2015,20.5,20.3,13.4,0.5]

In [2]:
for car in cars:
  print(car)

audi
bmw
mercedez

In [3]:
for car in cars:
  print(car.upper())

AUDI
BMW
MERCEDEZ

In [11]:
for car in cars:
  if car=="bmw":
    print(car.upper())
  else:
    print(car)

audi
BMW
mercedez
2005
2007
2015
20.5
20.3
13.4
0.5

In [29]:
for car in cars:
  if type(car)==str:
    print(car)
  else:
    print("no integer found")

audi
bmw
mercedez
no integer found
no integer found
no integer found
no integer found
no integer found
no integer found
no integer found

In [33]:
for car in cars:
  if type(car)==int and car > 2010:
    print(f"available model is {car}")
  else:
    print("all are old")

all are old
all are old
all are old
all are old
all are old
available model is 2015
all are old
all are old
all are old
all are old

In [35]:
for car in cars:
  if type(car)==str or type(car)==int:
    print(f"this is still valid {car}")
  else:
    print('this is float')

this is still valid audi
this is still valid bmw
this is still valid mercedez
this is still valid 2005
this is still valid 2007
this is still valid 2015
this is float
this is float
this is float
this is float

In [39]:
bilal_age=25
rehan_age=27
irfan_age=17

In [40]:
age=bilal_age
if age > 18:
  print("eligible for vote")
else:
  print("not eligible for vote")

eligible for vote

In [41]:
age=irfan_age
if age > 18:
  print("eligible for vote")
else:
  print("not eligible for vote")

not eligible for vote

In [42]:
age_group=bilal_age,rehan_age,irfan_age

In [44]:
type(age_group)

tuple

In [43]:
if age_group > 18:
  print("eligible for vote")
else:
  print("not eligible for vote")

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [45]:
print(cars)

['audi', 'bmw', 'mercedez', 2005, 2007, 2015, 20.5, 20.3, 13.4, 0.5]

In [46]:
cars=["audi","bmw","mercedez",2005,2007,2015,20.5,20.3,13.4,0.5]

In [50]:
grade="F"

In [51]:
if grade == "A":
  print("cgpa is 4.0")
elif grade=="A-":
  print("cgpa is 3.7")
elif grade=="B":
  print("cgpa is 3.5")
else:
  print("failed")

failed

In [53]:
pizzas=("cheese","bbq")

In [60]:
age="20"
if type(age)==int:
  if age > 18:
    print("eligible for vote")
  else:
    print("not eligible for vote")
else:
  print("invalid")

invalid

In [80]:
pwd=8829

if type(pwd)==int:
  if pwd==8828:
    print("login succesful")
  else:
    print("incorrect pwd")
else:
  print("enter only number")
# username=mbilal

incorrect pwd

In [88]:
dishes=("chicken","mutton","beef")
if "cheese" in dishes:
  print("available")
else:
  print("try something else")

try something else

**DICTIONARIES**

In [89]:
age_group={
    "ali_age":15,
    "arslan_age":25,
    "sunny_age":34,
    "bilal_age":20

}

In [90]:
my_car={
    "model":"audi",
    "year":2020,
    "price":12.5
}

In [91]:
grades={
    "ali":3.4,
    "arslan":3.5,
    "sunny":3.7,
    "bilal":4.0
}

**access dictionary**

In [92]:
print(grades['ali'])

3.4

In [93]:
print(age_group['ali_age'])

15

In [94]:
print(age_group)

{'ali_age': 15, 'arslan_age': 25, 'sunny_age': 34, 'bilal_age': 20}

In [95]:
print(f"my car model is {my_car['model']}")

my car model is audi

In [96]:
print(f"my car was made in {my_car['year']}")

my car was made in 2020

In [97]:
age_group

{'ali_age': 15, 'arslan_age': 25, 'sunny_age': 34, 'bilal_age': 20}

In [98]:
print(age_group['ali_age'])

15

In [100]:
age_group={
    "ali":15,
    "arslan":25,
    "sunny":34,
    "bilal":20

}

In [102]:
print(age_group["ali"])

15

In [103]:
print(age_group)

{'ali': 15, 'arslan': 25, 'sunny': 34, 'bilal': 20}

In [107]:
for key,value in age_group.items():
  print(key,value)

ali 15
arslan 25
sunny 34
bilal 20

In [109]:
for names,ages in age_group.items():
  print(names,ages)


  #first takes keys
  #second takes values

ali 15
arslan 25
sunny 34
bilal 20

In [111]:
for names,ages in age_group.items():
  if ages > 18:
    print(f"{names} is eligible for vote")
  else:
    print(f"{names} is not eligible for vote")

ali is not eligible for vote
arslan is eligible for vote
sunny is eligible for vote
bilal is eligible for vote

In [125]:
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}

In [119]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)

for names,gardes in grades.items():
  if grades >3.5:
    print(f"{names} is eligible for GAship" )
    if grades == 3.2:
      print(f"{names} is only eligible for admission")
      else:
        print("try next year")
    else:
      print("withdrawn")

SyntaxError: invalid syntax (ipython-input-1194972667.py, line 8)

In [124]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)

for names,grades in grades.items():
  if grades > 3.5:
    print(f"{names} is eligible for GAship" )
    if grades == 3.2:
      print(f"{names} is only eligible for admission")

    else:
      print("withdrawn")

AttributeError: 'float' object has no attribute 'items'

In [126]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)

for names,grades in grades.items():
  print(grades)

3.5
4.0
3.2
2.5

In [128]:
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}
for names,grades in grades.items():
  if grades > 3.5:
    print(f"{names} is eligible")

ahmad is eligible

In [140]:
#generate a list of studnets eligible for winter 2026 GAship (req=>3.5)
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}
for names,grades in grades.items():
  if grades > 3.5:
    print(f"{names} is eligible for GAship" )
  else:
      print(f"{names} your application is withdrawn")

ali your application is withdrawn
ahmad is eligible for GAship
arslan your application is withdrawn
bilal your application is withdrawn

In [147]:
grades={
    "ali":3.5,
    "ahmad":4.0,
    "arslan":3.2,
    "bilal":2.5
}
for names,cgpa in grades.items():
  if cgpa > 3.7:
    print(f"{names} are eligible for scholarship ")
  if cgpa >= 3.5 and cgpa< 3.7:
    print(f"{names} are good for admission ")
  if cgpa > 3.0 and cgpa < 3.5 :
    print(f"{names} try next year")

ali are good for admission
ahmad are eligible for scholarship
arslan try next year

In [150]:
menu={
    "breakfast":["and","chaaye","paratha"],
    "lunch":["salad",365],
    "dinner":["boiled rice","beef"],
    "restaurant": 15
}

In [151]:
print(menu["restaurant"])

15

In [152]:
print(menu["breakfast"])

['and', 'chaaye', 'paratha']

In [154]:
#print any specific value
print(menu["breakfast"][1])

chaaye

In [157]:
print(menu["dinner"][0:2])

['boiled rice', 'beef']

**NESTING DICTIONARY**

In [162]:
apt_2749={
    "201":["fedra","stephany"],
    "202":["jack","mike"],
    "203":["bilal","rehan","irfan"]
}

In [163]:
print(apt_2749["203"])

['bilal', 'rehan', 'irfan']

In [166]:
apt_2749={

          "room_203":{
              "irfan":"masters",
              "rehan":"phd",
              "bilal":"phd"
          },

          "room_201":{
              "fedra":"phd",
              "stephany":"masters"
          },

          "room_202":{
              "mike":"data",
              "jack":"bio"
          }

}

In [169]:
#print bilal qulaification
print(apt_2749["room_203"])

{'irfan': 'masters', 'rehan': 'phd', 'bilal': 'phd'}

In [170]:
print(apt_2749["room_203"]["bilal"])

phd

In [173]:

print(apt_2749["room_201"]["fedra"])

phd

In [177]:
user_name=input("enter the username")
pwd=input("enter the password")
if user_name =="bilal3" and pwd=="2749":
  print("login succesful")
else:
  print("invalid username or pwd")

enter the usernamebilal3
enter the password8828
invalid username or pwd

In [187]:
user_credential={
    "bilal":{
        "user_name":"bilal3",
        "pwd":"2749"
    },

    "rehan":{
        "user_name":"rehan4",
        "pwd":"203"
    }
}

In [188]:
login_user=input("enter the username")
login_pwd=input("enter the password")
for key,value in user_credential.items():
  # print(value["user_name"])
  # print(value['pwd'])
  if login_user ==value["user_name"] and pwd==value['pwd']:
    print("login succesful")
  else:
    print("invalid username or pwd")

enter the usernamebilal3
enter the password2749
invalid username or pwd
invalid username or pwd

In [2]:
name = input("enter your name :")
print(f"welcome {name} to python ")

enter your name :arslan
welcome arslan to python

In [3]:
age=input("enter our age: ")
print(f" ohh you are just {age}")

enter our age: 25
 ohh you are just 25

In [4]:
age=input("enter our age: ")
print(f" so next uear you will be {int(age) +1}")

enter our age: 25
 so next uear you will be 26

In [6]:
# input from user to add two number and print result
x = input("enter first number: ")
y = input("enter second number: ")
print(f"sum of {x} and {y} is {int(x) + int(y)}")

enter first number: 15
enter second number: 30
sum of 15 and 30 is 45