<a href="https://colab.research.google.com/github/mbilal-OU/python_workshop/blob/main/PYTHON_SCRIPT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
first="ali"
last="ahmad"
full=f"{first} {last}"
print(full)

ali ahmad

In [5]:
# ali family name is ahmad
family=f"{first} family name is {last}"
print(family)

ali family name is ahmad

In [7]:
!python --version

Python 3.12.12

In [21]:
first= ' python '
print(first)

print(first.strip())

 python
python

ali

In [22]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [26]:
cars=['audi','bmw','mercedez','honda']

In [32]:
print(cars[1])
print(cars[3])

bmw
honda

In [33]:
# access list elements
new_car=f"my first car was {cars[2]} and second is {cars[3]}"
print(new_car)

my first car was mercedez and second is honda

In [34]:
# modify_list

In [36]:
cars[1]="tesla"

In [37]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda']

In [38]:
# add element

In [39]:
cars.append("kia")

In [40]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda', 'kia']

In [41]:
# insert at any position

In [42]:
cars.insert(1,"toyota")

In [43]:
print(cars)

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [44]:
# delete any entry

In [45]:
del cars[1]

In [46]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda', 'kia']

In [47]:
del cars[-1]

In [48]:
print(cars)

['audi', 'tesla', 'mercedez', 'honda']

In [49]:
print(cars[-2])

mercedez

In [50]:
cars.pop()

'honda'

In [51]:
cars

['audi', 'tesla', 'mercedez']

In [54]:
cars.pop(-3)

'audi'

In [55]:
print(cars)

['tesla', 'mercedez']

In [57]:
cars.remove('tesla')

In [58]:
print(cars)

['mercedez']

In [59]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [60]:
cars

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [64]:
age=[3,4,2,7,9,5,6]

In [62]:
age.sort()

In [63]:
age

[2, 3, 4, 5, 6, 7, 9]

In [65]:
age

[3, 4, 2, 7, 9, 5, 6]

In [67]:
sorted(age)

[2, 3, 4, 5, 6, 7, 9]

In [68]:
age

[3, 4, 2, 7, 9, 5, 6]

In [69]:
age.reverse()

In [70]:
age

[6, 5, 9, 7, 2, 4, 3]

In [71]:
len(age)

7

**looping through lists**

In [73]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [74]:
# FOR LOOP

In [75]:
for vehicle in cars:
  print(vehicle)

audi
toyota
tesla
mercedez
honda
kia

In [76]:
# i love this audi

In [77]:
for vehicle in cars:
  print(f"I love this {vehicle}")

SyntaxError: invalid syntax (ipython-input-3377813971.py, line 1)

In [80]:
for vehicle in cars:
    print(f"I love this {vehicle}")

#

I love this audi
I love this toyota
I love this tesla
I love this mercedez
I love this honda
I love this kia

In [81]:
for vehicle in cars:
    print(f"I love this {vehicle.upper()}")

I love this AUDI
I love this TOYOTA
I love this TESLA
I love this MERCEDEZ
I love this HONDA
I love this KIA

In [83]:
for vehicle in cars:
  print(f"I love this {vehicle.title()}")

I love this Audi
I love this Toyota
I love this Tesla
I love this Mercedez
I love this Honda
I love this Kia

In [84]:
# make numerical list using for loop

In [87]:
for value in range(2):
  print(value)

0
1

In [89]:
for value in range (2,50,4):
  print(value)

2
6
10
14
18
22
26
30
34
38
42
46

In [90]:
# create a range from 5(start) to 100(end) with steps of 5

In [91]:
for value in range(5,100,5):
  print(value)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [92]:
# create a list from 5(start) to 100(end) with steps of 5

In [93]:
numbers=list(range(5,100,5))

In [94]:
numbers

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [97]:
numbers

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [98]:
print(min(numbers))

5

In [99]:
print(max(numbers))

95

In [100]:
print(sum(numbers))

950

In [101]:
print(len(numbers))

19

In [102]:
mean=sum(numbers)/len(numbers)
print(mean)

50.0

In [103]:
# CREATE SQUARES OF LIST FROM 1 TO 5

In [104]:
sqr_list=5

In [105]:
sqr_list

5

In [106]:
sqr_list*sqr_list

25

In [115]:
for values in range(1,10,2):
  print(values*values)

1
9
25
49
81

In [116]:
for values in range(1,10,2):
  print(values**2)

1
9
25
49
81

In [118]:
for values in range(1,10):
  print(values)

1
2
3
4
5
6
7
8
9

In [119]:
# SLICING A LIST

In [126]:
cars=['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [127]:
cars

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [128]:
print(cars)

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']

In [132]:
# print only 2nd element
print(cars[1])

toyota

In [135]:
# print from toyota to mercedes
print(cars[1:4])

['toyota', 'tesla', 'mercedez']

In [136]:
# print from toyota to kia  with step 1
print(cars[1:-1:1])

['toyota', 'tesla', 'mercedez', 'honda']

In [137]:
# print from toyota to kia  with step 1
print(cars[1:-1:2])

['toyota', 'mercedez']

In [141]:
# print from toyota to kia  with step 1
print(cars)
print(cars[:-1:2])

['audi', 'toyota', 'tesla', 'mercedez', 'honda', 'kia']
['audi', 'tesla', 'honda']

In [142]:
students=['ali','arslan','ahmad','bill','john','sherif','ou']

In [145]:
print(students)

['ali', 'arslan', 'ahmad', 'bill', 'john', 'sherif', 'ou']

In [147]:
print(students[0:3])

['ali', 'arslan', 'ahmad']

In [148]:
for top in students:
  print(top)

ali
arslan
ahmad
bill
john
sherif
ou

In [149]:
for top in students[0:3]:
  print(top)

ali
arslan
ahmad

In [153]:
for top in students[0:3]:
  print(f" topper is the one from {top}")

 topper is the one from ali
 topper is the one from arslan
 topper is the one from ahmad

In [154]:
cars=['audi','bmw','mercedez']

In [155]:
print(cars)

['audi', 'bmw', 'mercedez']

In [159]:
type(cars)

list

In [156]:
# TUPLE (UNCHANGEABLE LIST)

In [157]:
vehicle=("audi",'bmw','mercedez')

In [158]:
print(vehicle)

('audi', 'bmw', 'mercedez')

In [161]:
type(vehicle)

tuple

In [163]:
for car in vehicle:
  print(car)

audi
bmw
mercedez

In [164]:
cars.clear()

In [165]:
print(cars)

[]